<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>A Web Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>
<body>
    <div class="container">
        @{
            DateTime start = DateTime.Now;
            DateTime end = start.AddDays(3);
            TimeSpan Remaining = end - start;
            string TimeStart = start.ToString("MMM dd, yyyy hh:mm tt");
            string Timeend = end.ToString("MMM dd, yyyy hh:mm tt");
            string Timeremaining = string.Format("{0} Day(s), {1} Hour(s), {2} Minute(s)", Remaining.Days, Remaining.Hours,
            Remaining.Minutes);
            <div class="blockContainer">
                <div class="blockTime">
                    <p>Start Time</p>
                    <p>@TimeStart</p>
                </div>
                <div class="blockTime">
                    <p>Start Time</p>
                    <p>@Timeend</p>
                </div>
            </div>
            <div class="TimeRemaining">
                <p>Time remaining</p>
                <p>@Timeremaining</p>
                <p>Remaining</p>
            </div>
        }
    </div>
</body>
</html>
